* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
main {
  padding: 15px 5px;
  /* min-height: 83vh; */
  /* min-height: 83%; */
}
.navbar {
  border-radius: 0px !important;
}
.text-center {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; Height of the footer
}

@media (min-width: 1024px) {
  .container-fluid {
    padding-left: 80px !important;
    padding-right: 80px !important;
  }
  main {
    padding: 10px 80px;
    min-height: 88.1vh;

  }
  .text-center {
    position: static ;
  }
}
